body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

section {
  padding: 60px 0;
}

.faded-container {
  background-color: #FFF2F3;
}

.navbar-brand {
  color: #252B42;
}

.second-text-color {
  color: #737373;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-item {

}

.navbar-nav a {
  color: #737373;
}









.testimonial {
  display: block;
  margin-right: auto;
  margin-left: auto;
}